.rct-backdrop-wrapper {
    position: relative;
}

.rct-backdrop-wrapper .rct-backdrop-canvas {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.rct-backdrop-wrapper .rct-backdrop-canvas::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}